<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/course_form' %>
        </section>
      </aside>
    </div>
<% else %>
<div class="center hero-unit">
  <h1>Welcome to the Scheduler</h1>
  <h2>
    This is the home page for for Ivan's leaning rails web development.
    Sample app Scheduler.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
</html>