<footer class="footer">
  <small>
    Scheduler by Yifeng Ivan Huang
  </small>
  <nav> <ul>
    <li><%= link_to "About",   scheduler_about_path %></li>
    <li><%= link_to "Contact", scheduler_contact_path %></li>
  </ul> </nav>
</footer>